In [1]:
import pandas as pd
print(pd. __version__)

1.5.3

In [2]:
series = pd.Series([1, 2, 3, 4, 5, 6])
print(series[1])

2

In [3]:
# We can reformat the index values
series = pd.Series([1, 2, 3, 4, 5, 6], index=[1, 2, 3, 4, 5, 6])
print(series[1])

1

In [4]:
series = pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'], name="Numbers")

print(series)
print(series['c'])
print(series[2])

a    1
b    2
c    3
d    4
e    5
f    6
Name: Numbers, dtype: int64
3
3

In [5]:
print(series)

a    1
b    2
c    3
d    4
e    5
f    6
Name: Numbers, dtype: int64

In [6]:
print(series/2)

a    0.5
b    1.0
c    1.5
d    2.0
e    2.5
f    3.0
Name: Numbers, dtype: float64

In [7]:
# for i in series:
#     if i%2 == 0:
#         i = i/2
#     else
#     i = i**2 if i%2==0 else i

# print(series)
#apply can be used to apply a function to a series
print(series.apply(lambda x: x if x%2==1 else x**2))

a     1
b     4
c     3
d    16
e     5
f    36
Name: Numbers, dtype: int64

In [8]:
print(series.shape)
print(series.ndim)
print(series.info)

(6,)
1
<bound method Series.info of a    1
b    2
c    3
d    4
e    5
f    6
Name: Numbers, dtype: int64>

In [9]:
import numpy as np

series['b'] = np.NaN
print(series.info())

<class 'pandas.core.series.Series'>
Index: 6 entries, a to f
Series name: Numbers
Non-Null Count  Dtype
--------------  -----
5 non-null      float64
dtypes: float64(1)
memory usage: 268.0+ bytes
None

In [10]:
# head prints the first n values as specified in argument
print(series.head(5))
# tail can also be used

a    1.0
b    NaN
c    3.0
d    4.0
e    5.0
Name: Numbers, dtype: float64

In [12]:
#index is to rename the rows, columns to rename the columns
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9]], index=['d', 'e', 'f'], columns=['a', 'b', 'c'])
print(df)

   a  b  c
d  1  2  3
e  4  5  6
f  7  8  9

In [13]:
# This also gives a pandas series object
# A dataframe is a combination of multiple series
print(df['a'])

d    1
e    4
f    7
Name: a, dtype: int64

In [14]:
#This is the incorrect logic
# print(df[::]['e'])
print(df[1:2])

   a  b  c
e  4  5  6

In [15]:
# Accessing the first row, iloc similar to numpy slicing
print(df.iloc[1:2, :])
print(df.iloc[1:3, 1:])

   a  b  c
e  4  5  6
   b  c
e  5  6
f  8  9

In [16]:
# in case of loc, we supply the indexes specified like alphabets
print(df.loc['e':'f', 'b':'c'])

   b  c
e  5  6
f  8  9

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, d to f
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes
None

In [18]:
#creating dataframe using dictionary
#keys are column names

df1 = pd.DataFrame({'a':[1, 4, 7], 'b':[2, 5, 8], 'c':[3, 6, 9]}, index=['d', 'e', 'f'])
print(df1)

   a  b  c
d  1  2  3
e  4  5  6
f  7  8  9

In [19]:
df1['Square'] = df1['c'] ** 2
print(df1)

   a  b  c  Square
d  1  2  3       9
e  4  5  6      36
f  7  8  9      81

In [20]:


df1['Sum'] = df1['a'] + df1['b'] + df1['c']
print(df1)

   a  b  c  Square  Sum
d  1  2  3       9    6
e  4  5  6      36   15
f  7  8  9      81   24

In [21]:
#saving the dataframes into different formats
# index=false will remove the index while saving in csv
#index_label='index' to give a name to the index columns
df1.to_csv('data.csv', index_label='index')

In [22]:
# set index_col as 0 inorder to view it as original
#basically index_col = 0 sets the 0th column as the index column, if we set as 1, it uses the 
#first column as index
df2 = pd.read_csv('data.csv', index_col='index')
print(df2)

       a  b  c  Square  Sum
index
d      1  2  3       9    6
e      4  5  6      36   15
f      7  8  9      81   24

In [25]:
df2 = pd.read_csv('ds_salaries.csv', index_col=0)
print(df2[0:30])

          experience_level employment_type                       job_title  \
work_year
2023                    SE              FT        Principal Data Scientist
2023                    MI              CT                     ML Engineer
2023                    MI              CT                     ML Engineer
2023                    SE              FT                  Data Scientist
2023                    SE              FT                  Data Scientist
2023                    SE              FT               Applied Scientist
2023                    SE              FT               Applied Scientist
2023                    SE              FT                  Data Scientist
2023                    SE              FT                  Data Scientist
2023                    SE              FT                  Data Scientist
2023                    SE              FT                  Data Scientist
2023                    SE              FT                    Data Analyst
2023                    SE              FT                    Data Analyst
2023                    EN              FT               Applied Scientist
2023                    EN              FT               Applied Scientist
2023                    SE              FT                    Data Modeler
2023                    SE              FT                    Data Modeler
2023                    SE              FT                  Data Scientist
2023                    SE              FT                  Data Scientist
2023                    MI              FT                    Data Analyst
2023                    MI              FT                    Data Analyst
2023                    SE              FT               Research Engineer
2023                    SE              FT               Research Engineer
2023                    SE              FT              Analytics Engineer
2023                    SE              FT              Analytics Engineer
2023                    SE              FT  Business Intelligence Engineer
2023                    SE              FT  Business Intelligence Engineer
2023                    SE              FT       Machine Learning Engineer
2023                    SE              FT       Machine Learning Engineer
2023                    SE              FT                 Data Strategist

           salary salary_currency  salary_in_usd employee_residence  \
work_year
2023        80000             EUR          85847                 ES
2023        30000             USD          30000                 US
2023        25500             USD          25500                 US
2023       175000             USD         175000                 CA
2023       120000             USD         120000                 CA
2023       222200             USD         222200                 US
2023       136000             USD         136000                 US
2023       219000             USD         219000                 CA
2023       141000             USD         141000                 CA
2023       147100             USD         147100                 US
2023        90700             USD          90700                 US
2023       130000             USD         130000                 US
2023       100000             USD         100000                 US
2023       213660             USD         213660                 US
2023       130760             USD         130760                 US
2023       147100             USD         147100                 US
2023        90700             USD          90700                 US
2023       170000             USD         170000                 US
2023       150000             USD         150000                 US
2023       150000             USD         150000                 US
2023       110000             USD         110000                 US
2023       275000             USD         275000                 DE
2023       174000             USD         174000                 DE
2023       230000             USD         230000                 GB
2023       143200             USD         143200                 GB
2023       225000             USD         225000                 US
2023       156400             USD         156400                 US
2023       200000             USD         200000                 US
2023       130000             USD         130000                 US
2023        90000             USD          90000                 CA

           remote_ratio company_location company_size
work_year
2023                100               ES            L
2023                100               US            S
2023                100               US            S
2023                100               CA            M
2023                100               CA            M
2023                  0               US            L
2023                  0               US            L
2023                  0               CA            M
2023                  0               CA            M
2023                  0               US            M
2023                  0               US            M
2023                100               US            M
2023                100               US            M
2023                  0               US            L
2023                  0               US            L
2023                  0               US            M
2023                  0               US            M
2023                  0               US            M
2023                  0               US            M
2023                100               US            M
2023                100               US            M
2023                  0               DE            M
2023                  0               DE            M
2023                100               GB            M
2023                100               GB            M
2023                  0               US            M
2023                  0               US            M
2023                  0               US            M
2023                  0               US            M
2023                  0               CA            M